/*HOMEPAGE BODY*/
/*White and gray containers body*/
#section-container-white {
    padding-top: 1rem;
    padding-bottom: 1rem;     
}

#section-container-gray {
    background-color: rgba(109, 100, 100, 0.2);
    padding-top: 1rem;
    padding-bottom: 1rem;  
}

#left {
    text-align: left;
}

#right {
    text-align: right;
}

/*Redirect arrows from body to different sections*/
.arrow_icon {
    color: black;
    width: 40px;
    height: 40px;
    padding-top: 3px;
    padding-bottom: 2px;
}

.arrow_icon:hover {
    opacity: 0.5;
}

.arrow_icon_right {
    color: black;
    width: 40px;
    height: 40px;
    padding-top: 3px;
    align-self: right !important;
    float: right
}

.arrow_icon_right:hover {
    opacity: 0.5;
}

/*Buttons on the Corpus section of homepage*/
.corpus-button-body {
    margin-right: 2px;
    align-items: center;
    z-index: 2;
    color: rgb(0, 0, 0) !important;
    background-color: #80A2B3 !important;
    border-color:  #80A2B3 !important;
}

.corpus-button {
    margin-right: 6px;
    align-items: center;
    z-index: 2;
}

/*Button's div*/
.corpus-buttons {
    text-align: center;
    padding-bottom: 5px;
}

/*New image slider buttons*/
button.slick-arrow.slick-next {
    color: black !important;
    background-color: rgb(0, 0, 0);
    position: relative;
    z-index: 1;
}

button.slick-arrow.slick-prev {
    color: black !important;
    background-color: rgb(0, 0, 0);
    position: relative;
    z-index: 1;
}

.react-multiple-carousel__arrow{
    position: relative;
    z-index: 1 !important;
}


/*
.slick-slide {
    margin-left: 2px;
}

.slider {
    width: 100%;
    height: 400px;
}

.slide, .slide img {
    width: 70%;
    height: 200px;
}

.arrow {
    font-size: 30px;
}

*/


.card {
    margin-left: 5px;
    margin-right: 5px;
}


.body-slider-button {
    padding-left: 4px;
    padding-right: 4px;
    /*position: absolute;  NON FUNZIONA CORRETTAMENTE*/
    width: 100%;
    height: 30px;
    text-align: center;
    justify-content: center;
    margin: auto;
    color: rgb(0, 0, 0);
    background-color: #80A2B3;
    border-color: #80A2B3 /*rgb(86, 98, 113)*/;
    border-right: #80A2B3;
    border-bottom: #80A2B3;
}


.body-card-h {
    text-align: center;
}